/* Primary Color */
:root {
  --primary-color: {{ Helpers::settings('primary_color') }};
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

/* Secondary Color */
:root {
  --secondary-color: {{ Helpers::settings('secondary_color') }}; /* Fetch the secondary color value from the database */
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

.flatpickr input[type=text].form-control {
@apply border-0 px-3 py-3 pl-10 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}

.flatpickr input[type=text].form-control:required {
@apply border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}

h1 { 
@apply text-4xl font-bold text-center text-red-500;
}

h2 {
@apply text-2xl font-bold text-center text-red-500;
}

h3 {
@apply text-xl font-bold text-center text-red-500;
}

h4 {
@apply text-lg font-bold text-left text-red-500;
}

h5 {
@apply text-base font-bold text-left text-red-500;
}

h6 {
@apply text-sm font-bold text-left text-red-500;
}

.card {
  @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg border-0
}

.card .card-header {
  @apply rounded-t bg-white mb-0 px-6 py-6
}

.card .card-header-container {
  @apply text-center flex justify-between
}

.card .card-title {
  @apply text-gray-700 text-xl font-bold
}

.card .card-body {
  @apply flex-auto px-4 lg:px-10 py-10 pt-0
}

.card .card-controls {
  @apply flex-auto px-4 lg:px-10 py-3
}

.card .card-table {
  @apply py-3 pt-0
}


.flatpickr input[type=text].form-control {
  @apply border-0 px-3 py-3 pl-10 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}

.flatpickr input[type=text].form-control:required {
  @apply border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring;
}

.table {
  @apply items-center table-auto bg-transparent border-collapse
}

.table th {
  @apply align-middle border border-solid text-xs uppercase whitespace-nowrap font-semibold text-left text-gray-500
}

.table td {
  @apply border-gray-200
}

.table.table-index th {
  @apply px-6 py-3 border-l-0 border-r-0 border-gray-100
}

.table.table-index td {
  @apply px-4 py-2 border-t border-dashed
}

.table.table-view th,
.table.table-view td {
  @apply px-6 py-3 border border-solid
}

.table.table-index > tbody > tr:hover {
  @apply bg-gray-50
}
