name: Javascript Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: yarn

      - name: Fix code style linting errors
        run: yarn lint:fix

      - name: Commit fixed linting errors
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix code styling
